@(redditsForm: Form[RedditsFormData], redditsData: List[RedditJsonData])(implicit messages: Messages)

@import helper._

@main("Select reddits") {
    <form action="/reddits" method="POST">
        <input type="submit" value="Submit Selected">
        <table>
            <tbody>
            @for(rd <- redditsData){
                @defining(redditsData.indexOf(rd)){ num =>
                    <tr>
                        <td style="width: 300px;" rowspan="2"><br /><img src="@rd.thumbnail" alt="" width="300" height="225" /></td>
                        <td>@rd.title</td>
                    </tr>
                    <tr>
                        <td> <!-- rd.url -->
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url=@rd.url data-size="large">Tweet</a>
                        <script>
                        !function(d,s,id){
                            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                        if(!d.getElementById(id)){
                            js=d.createElement(s);
                            js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                            fjs.parentNode.insertBefore(js,fjs);
                            }
                        }
                        (document, 'script', 'twitter-wjs');
                        </script>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="hidden" id="redditsList_@(num)_id" name="redditsList[@num].id" value="0">
                            <input type="checkbox" id="redditsList_@(num)_checked" name="redditsList[@num].checked" value="true"></td>
                        <td>@rd.ups</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </form>
}
